.skills {
    flex-grow: 1;
    position: absolute;
    margin-left: 200px;
  }

  h1 {
    color: #fff;
    line-height: 60px;
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 1mm;
   }

  strong {
    color: #979ea0;
    font-size: 26px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .content {
    display: grid;
    font-size: 14px;
    grid-template-columns: 1fr 1fr;
    font-weight: 200;
    color: rgba(210, 190, 215, 0.2);
    line-height: 25px;
    padding-bottom: 20px;
    width: 1200px;
  }
  .content div{
   align-items: center;
  }
  
  .content li {
    margin: 0;
    color: rgba(18, 21, 18, 0.593);
    font-size: 18px;
    font-family: cursive;
    font-weight: 600;
  }
  

    li:hover {
      color: #badedd;
    }
  
  @media (min-width: 800px) {
    .content {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  