.matrix-details-wrapper{
    display: grid; 
    grid-template-columns: repeat(2, minmax(auto, 1fr));
    row-gap: inherit;
    column-gap: 100px;
}

.skill-row-wrapper{
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 1fr));
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between
}

.skillgroup-title{
    display: flex;
    margin: 10px;
    width: 100%;
    font-weight: bold;
    color: #000000;
}

.skill-title{
    display: grid;
    // grid-template-columns: auto auto auto auto;
    // grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    margin: 10px;
    width: 100%;
    position: relative;
}

.tooltip-data-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.tooltip-text{
    padding: 10px;
    color: #FFFFFF;
    text-align: center;
}