.about-page{
  padding: 60px 0px;
  margin: 0;
  background-color: #FFFFFF;
}

.about-page-profile-details{
  padding: 60px 50px;
  display: flex;
  align-items: center;
}

.about-page-personal-details{
  display: flex;
  flex-direction: column;
  place-self: flex-start;
  padding: 0px 30px
}