.home-page-main-wrapper{
  background-image: url(https://avatars.githubusercontent.com/u/60456049?v=4); 
  background-size: cover;
  height: 100vh;
  position: relative;
  background-position: inherit;
}

.home-page-title{
  display: flex;
  color: #ffffff;
  font-size: 80px; 
  font-family: Arial, sans-serif;
  font-weight: bolder;
  text-align: center;
  justify-content: center;
  align-content: center;
}

.home-page-details-wrapper{
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center
}
