.timeline {
  border-left: 2px solid #149ddd;
  position: relative;
  list-style: none;
}

.timeline .timeline-item {
  position: relative;
}

.timeline .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .timeline-item:after {
  background-color: #149ddd;
  left: -38px;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
}