.contact {
    flex-grow: 1;
    position: absolute;
  }
  
  .contact h1 {
    margin-bottom: 20px;
  }
  h2{
    color:aliceblue;
    margin-left: 250px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .contact iframe {
    border: 0;
    width: 1000px;
    height: 400px;
    margin: 15px 250px;
    text-align: center;
  }
  