
.top{
    // margin-top: -20px;
  }

.degree{
text-align: center;
display: flex;
flex-direction: row;
margin-left: 200px;
height: 100%;
margin-top: 50px;
    
}

img{
    height: 100px;
    width: 100px;
    margin-top: 150px;
}

.child1 {
    width: 20%;    
    height: 200px;
    width: 200px;
    
}

.child2 {
    width: 80%;
    color: white;
    height: 450px;
    float: left;
    text-align: justify;
   
}
p{
    margin-left: 0;
}
h1 {
    color: #fff;
    line-height: 60px;
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 1mm;
   }