// .top{
//     position: absolute;
// }
h1{
    text-align: center;
    margin-left: 250px;
}
.degree{
text-align: center;
display: flex;
flex-direction: row;
margin-left: 200px;
height: 300px;
margin-top: 25px;
    
}

img{
    height: 100px;
    width: 100px;
    margin-top: 25px;
}

.child1 {
    width: 20%;    
    justify-content: center;
    height: 200px;
    width: 200px;
    
}

.child2 {
    width: 80%;
    color: white;
    height: 450px;
    text-align: justify;
    margin-left: 50px;
    margin-top: 20px;;
}

span{
    font-size: 14px;
    font-weight: bolder;
}
li{
    font-size: 12px;
}
