
// @font-face {
//   font-family: 'Optima';
//   src: url('./assets/fonts/helvetica-neu.ttf') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'La Belle Aurore';
//   src: url('./assets/fonts/LaBelleAurore.woff2') format('woff2'),
//     url('./assets/fonts/LaBelleAurore.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Coolvetica';
//   src: url('./assets/fonts/CoolveticaRg-Regular.woff2') format('woff2'),
//     url('./assets/fonts/CoolveticaRg-Regular.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }

// .page {
//   width: 100%;
//   height: 100%;
// }




.app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding:0;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
    // background: linear-gradient(-45deg, #7c5f48, #8c4660, #69838e, #95b1a9);
    // animation: change 10s ease-in-out infinite;
//     background-size: 400% 400%;
//     position: relative;
//   display: flex;
}